/* -------------------------------------------

Name: 		Portfolio
Version:  1.0
Author:		Vismo Dev (web developer)
Portfolio:  ;

------------------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 65.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 1.6rem;
  overflow-x: hidden;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #fafafc;
}
p {
  text-align: left;
}
// Button
.btnTheme {
  background: #ffc107;
  text-transform: uppercase;
  color: #191923;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 1.5rem 3rem;
  border: none;
  outline: none;
  letter-spacing: 0.1rem;
}
@mixin btnTow($color, $fontSize, $background) {
  background: $background;
  display: inline-block;
  text-transform: uppercase;
  color: $color;
  font-size: $fontSize;
  font-weight: 600;
  margin-left: 1rem;
  letter-spacing: 0.1rem;
  transition: all 0.3s ease;
  i {
    transform: translateX(0rem);
    transition: all 0.5s ease;
  }
  &:hover i {
    transform: translateX(0.5rem);
  }
}
.btnTheme:hover {
  color: #191923;
}
// section-title
.section-title {
  h4 {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
  }
}
/* ----- variable declear ------*/
$themeColor: #ffc107;
$themecolorTow: #2c2c38;
$minColor: linear-gradient(
  159deg,
  rgba(37, 37, 50, 0.98) 0%,
  rgba(35, 35, 45, 0.98) 100%
);
$minColortow: #20202a;
$textColor: #fafafc;
$peraColor: #8c8c8e;

/* -----  min-wrapper ------*/
.min-wrapper {
  background: #191923;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding: 1.5rem;
  position: relative;
  overflow: hidden;
  .wrapper {
    max-width: 1440px;
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
    overflow: hidden;
    display: flex;
  }
}

/* -----  side-bar ------*/
.side-bar {
  position: relative;
  width: 290px;
  min-width: 290px;
  height: calc(100vh - 3rem);
  background: $minColortow;
  box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
  .sidebar-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: $minColor;
    text-align: center;
    padding: 3rem;
    z-index: 99;
    .profile-img {
      width: 9rem;
      height: 9rem;
      position: relative;
      left: 0;
      right: 0;
      margin: auto;
      a {
        display: inline-block;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
        }
        .hover-zome {
          position: absolute;
          width: 30px;
          height: 30px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background: linear-gradient(
            159deg,
            rgba(45, 45, 58, 0.88) 0%,
            rgba(43, 43, 53, 0.88) 100%
          );
          font-size: 1.4rem;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          cursor: pointer;
          opacity: 0;
          visibility: hidden;
          transition: all 0.5s ease-in;
          i {
            transition: all 0.5s ease-in;
            color: #fff;
          }
          &:hover {
            opacity: 1 !important;
            i {
              transform: scale(1.1);
            }
          }
        }
      }
      &:hover {
        .hover-zome {
          opacity: 0.7;
          visibility: visible;
        }
      }
      &::before {
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        bottom: 16px;
        right: 0;
        border-radius: 50%;
        background: $themeColor;
        z-index: 99;
        animation: animatePic 1s linear infinite;
      }
      @keyframes animatePic {
        to {
          box-shadow: #ffc1071a 0px 0px 0px 3px;
        }
        from {
          box-shadow: #ffc10762 0px 0px 0px 3px;
        }
      }
    }
    h4 {
      font-size: 1.6rem;
      font-weight: 500;
      margin-top: 1.3rem;
    }
    span {
      font-size: 1.2rem;
      font-weight: 400;
      display: block;
      max-width: 15rem;
      margin: 0.7rem auto;
      font-style: normal;
      // color: $peraColor;
      color: #8c8c8e;
    }
  }

  /* -----  skill-bar ------*/
  .skill-bar {
    overflow: auto;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 22rem;
    left: 0;
    padding: 1.5rem 3rem 27.3rem 3rem;
    background: $minColortow;
    .scrollbar-track.show,
    .scrollbar-track:hover {
      opacity: 0;
      visibility: hidden;
    }
    .address-table {
      width: 100%;
      height: auto;
      padding: 1.3rem 0;
      ul li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h6 {
          font-size: 1.2rem;
          font-weight: 500;
          line-height: 2.4rem;
          color: var($textColor);
        }
        span {
          font-size: 1.2rem;
          font-weight: 400;
          color: $peraColor;
        }
      }
    }
    .ls-divider {
      width: 100%;
      height: 0.1rem;
      background: #646466;
      opacity: 0.3;
    }
    /* -----  Language-skill ------*/
    .language-skill {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      padding: 2rem 0;
      .progress-bangla,
      .progress-english,
      .progress-outhers {
        width: 6rem;
        height: 6rem;
      }
      .progress-one,
      .progress-tow,
      .progress-three {
        display: flex;
        align-items: center;
        flex-direction: column;
        span {
          font-size: 1.2rem;
          margin-top: 1rem;
          font-weight: 400;
          color: $textColor;
        }
      }
    }
    /* -----  Work-skill ------*/
    .work-skill {
      padding-top: 3.5rem;
      padding-bottom: 1rem;
      .html-skill,
      .css-skill,
      .javascript-skill,
      .jquery-skill,
      .php-skill,
      .wordpress-skill {
        position: relative;
        margin-bottom: 2rem;
        span {
          position: absolute;
          bottom: 1.8rem;
          left: 0;
        }
      }
      span {
        font-size: 1.2rem;
        font-weight: 400;
        color: $textColor;
        margin-bottom: 0;
      }
    }
  }
  /* -----  coding-language ------*/
  .coding-language {
    padding: 1rem 0;
    ul li {
      font-size: 1.2rem;
      color: $peraColor;
      font-weight: 400;
      line-height: 2.4rem;
      i {
        color: $themeColor;
        padding-right: 0.5rem;
      }
    }
  }
  /* -----  cv-download ------*/
  .cv-download {
    margin: 0.7rem 0;
    button {
      width: 100%;
      text-transform: uppercase;
      color: $peraColor;
      font-size: 1.2rem;
      font-weight: 600;
      text-align: left;
      background: transparent;
      border: none;
      outline: none;
      transition: all 0.5s ease;
      i {
        padding-left: 0.5rem;
      }
      &:hover {
        color: #fff;
      }
    }
  }
  /* -----  Social-link ------*/
  .social-link {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background: $minColor;
    padding: 0 3rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
      width: 16.66px;
      text-align: center;
      line-height: 1.6rem;
      font-size: 1.2rem;
      color: $peraColor;
      transition: all 0.3s;
      &:hover {
        text-shadow: 0 0 3px rgba(250, 250, 252, 0.4);
        color: #fafafc;
      }
    }
  }
}

/* -----  min-content ------*/
.min-content {
  width: 100%;
  height: 100vh;
  overflow: auto;
  box-sizing: border-box;
  .scrollbar-track.show,
  .scrollbar-track:hover {
    opacity: 0;
    visibility: hidden;
  }
}

/* -----  content-banner ------*/
.content-banner {
  background: url(../images/bg.jpg) no-repeat scroll center center / cover;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 9;
}
.content-banner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    180deg,
    rgba(30, 30, 40, 0.93) 0%,
    rgba(30, 30, 40, 0.96) 70%,
    rgba(30, 30, 40, 0.99) 80%,
    #1e1e28 100%
  );
  z-index: -9;
}
.banner-minContent {
  padding: 2rem 2rem 3rem 2rem;
  text-align: justify;
}

/* -----  banner-header ------*/
.banner-header {
  background: url(../images/hero.jpg) no-repeat scroll center center / cover;
  position: relative;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 9;
  padding: 0 6rem;
  .banner-caption {
    h2 {
      font-size: 3rem;
      font-weight: 600;
      color: #fff;
      text-transform: uppercase;
      line-height: 4rem;
      text-align: left;
    }
    .writing-test {
      margin-top: 2rem;
      font-size: 1.6rem;
      letter-spacing: 0.2rem;
      min-height: 7rem;
      i {
        color: $themeColor;
      }
    }
    .banner-button {
      .secondaryBtn {
        @include btnTow($textColor, 1.2rem, transparent);
      }
    }
  }
}
.banner-header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    90deg,
    rgba(45, 45, 58, 0.9) 15%,
    rgba(45, 45, 58, 0.7) 50%,
    rgba(43, 43, 53, 0.7) 100%
  );
  opacity: 0.7;
  z-index: -9;
}
.banner-author-pic {
  float: right;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
.tablet-device-profile {
  width: 9rem;
  height: 9rem;
  position: relative;
  margin: 2rem auto;
  display: none;
  .hover-zome {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: linear-gradient(
      159deg,
      rgba(45, 45, 58, 0.88) 0%,
      rgba(43, 43, 53, 0.88) 100%
    );
    font-size: 1.4rem;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    i {
      -webkit-transition: all 0.5s ease-in;
      transition: all 0.5s ease-in;
      color: #fff;
    }
  }
  &:hover .hover-zome {
    opacity: 0.7;
    visibility: visible;
  }
}
.banner-profile-img {
  margin-top: -23px;
}
.tablet-device-profile img {
  max-width: 100%;
  border-radius: 50%;
}

/* -----  total-experience ------*/
.total-experience {
  padding-top: 3rem;
  .single-total-experience {
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
    h4 {
      color: $themeColor;
      font-size: 2rem;
      font-weight: 500;
      padding-right: 1rem;
    }
    span {
      color: $textColor;
      font-weight: 400;
      font-size: 1.4rem;
    }
  }
}

/* -----  Services-area ------*/
.services-area {
  .services-item {
    margin-top: 3rem;
    .single-services-item {
      background: $themecolorTow;
      padding: 3rem;
      height: 100%;
      box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
      h4 {
        font-size: 1.6rem;
        font-weight: 500;
        color: $textColor;
        margin-bottom: 1.5rem;
      }
      p {
        color: $peraColor;
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 2rem;
      }
      a {
        @include btnTow($themeColor, 1.2rem, transparent);
        margin-left: 0;
        font-weight: 500;
      }
    }
  }
}

/* -----  pricing-items ------*/
.pricing-items {
  margin: 3rem 0;
  .single-price-item {
    background: $themecolorTow;
    text-align: center;
    padding: 2rem;
    box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
    height: 100%;
    h4 {
      font-size: 1.6rem;
      font-weight: 500;
      padding-top: 1rem;
    }
    h2 {
      color: $themeColor;
      font-size: 3rem;
      font-weight: 600;
    }
    .min-price {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      margin: 2.5rem 0;
      span {
        color: $peraColor;
        padding: 0 1rem;
        font-weight: 400;
      }
    }
    .pricing-list {
      margin-bottom: 2rem;
      ul li {
        color: $peraColor;
        font-weight: normal;
        font-size: 1.2rem;
        font-style: normal;
        line-height: 3rem;
        i {
          padding-right: 0.5rem;
          color: $themeColor;
        }
      }
      li.no-offer {
        opacity: 0.3;
      }
    }
    a {
      @include btnTow($themeColor, 1.2rem, transparent);
      margin-left: 0;
      font-weight: 500;
      margin-bottom: 1rem;
    }
    h6 {
      font-size: 1rm;
      color: $peraColor;
      opacity: 0.5;
    }
  }
  .popular-item {
    position: relative;
    overflow: hidden;
  }
  .popular-item::before {
    content: "Popular";
    position: absolute;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    top: 18px;
    right: -31px;
    background: #ffc107;
    width: 12rem;
    height: 2rem;
    line-height: 2rem;
    color: #191923;
    transform: rotate(45deg);
    letter-spacing: 0.1rem;
  }
}

/* -----  myTeam-member------*/
.myTeam-member {
  .team-members {
    padding: 3rem 0;
  }
}
.swiper-members {
  overflow: hidden;
  .swiper-slide {
    width: 40rem;
  }
  .teamMember-pagination {
    text-align: center;
    margin-top: 3rem;
  }
  .swiper-pagination-bullet {
    width: 2rem;
    height: 0.7rem;
    display: inline-block;
    border-radius: 0.4rem;
    background: transparent;
    opacity: 1;
    border: 0.1rem solid $peraColor;
    transition: all 0.3s ease;
    position: relative;
  }
  .swiper-pagination-bullet::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background: $themeColor;
    left: 0;
    bottom: 0;
    transition: all 0.3s ease-in;
    animation-delay: 1s;
  }
  .swiper-pagination-bullet-active.swiper-pagination-bullet::before {
    opacity: 1;
    border: 0.1rem solid $themeColor;
    width: 100%;
    border-radius: 0.4rem;
  }
}
.single-team-member {
  background: $themecolorTow;
  width: 100%;
  padding: 3rem;
  width: 100%;
  height: auto;
  box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
  box-sizing: border-box;
  text-align: center;
  border-radius: 1rem;
  .member-image {
    width: 150px;
    height: 150px;
    margin: auto;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
      border: 0.2rem solid $themeColor;
    }
  }
  .member-details {
    padding-top: 3rem;
    .member-name {
      margin-bottom: 1.5rem;
      h4 {
        font-size: 1.8rem;
        font-weight: 600;
        color: $textColor;
        margin-bottom: 0.5rem;
      }
      span {
        color: $themeColor;
        font-size: 1.4rem;
        font-weight: 500;
      }
    }
    p {
      color: $peraColor;
      font-size: 1.4rem;
      text-align: center;
      line-height: 2.4rem;
      font-weight: 400;
    }
  }
  .member-rating {
    margin-top: 3rem;
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      li {
        color: $themeColor;
        margin: 0.5rem;
      }
      .rat-mark {
        color: $peraColor;
      }
    }
  }
}

/* -----  my-work ------*/
.my-work {
  .gallery-btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    ul {
      border: 0;
      outline: 0;
      background: transparent;
      margin-left: 2rem;
      font-size: 1.2rem;
      font-weight: 500;
      text-transform: uppercase;
      color: $peraColor;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      li {
        margin-left: 2rem;
        cursor: pointer;
      }
    }
  }
  .gallery-items {
    ul {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      grid-gap: 2rem;
    }
    .single-project {
      position: relative;
      box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
      transition: all 0.3s ease;
      animation-delay: 1s;
      animation-duration: 1s;
      overflow: hidden;
      width: 100%;
      height: 20rem;
      .project-title {
        position: absolute;
        width: 100%;
        height: auto;
        left: 0;
        bottom: -100%;
        background: $themecolorTow;
        padding: 1rem 2rem;
        box-sizing: border-box;
        transition: all 0.7s ease;
        h4 {
          font-size: 1.6rem;
          font-weight: 600;
          color: $textColor;
          letter-spacing: 0.2rem;
          margin-bottom: 0.5rem;
        }
        p {
          font-size: 1.2rem;
          font-weight: 400;
          color: $peraColor;
          line-height: 1.6rem;
          margin-bottom: 0;
        }
        a {
          @include btnTow($themeColor, 1rem, transparent);
          margin-left: 0;
        }
      }
      .project-demo {
        z-index: 9999;
        img {
          width: 100%;
          min-height: 20rem;
          object-fit: cover;
          transition: all 0.3s ease;
          a {
            z-index: 9999;
          }
        }
      }
      &:hover .project-title {
        bottom: 0;
      }
    }
  }
}

/* -----  educational-work ------*/
.educational-work {
  margin: 3rem 0;
  .section-title {
    margin-bottom: 2rem;
  }
  .full-details {
    position: relative;
    max-width: 96%;
    ul {
      position: relative;
      margin-right: 2rem;
      &::before {
        content: "";
        position: absolute;
        width: 0.4rem;
        height: calc(100% - 2rem);
        background: #191923;
        top: 2rem;
        right: -3rem;
      }
    }
    .single-details {
      position: relative;
      width: 100%;
      height: auto;
      padding: 3rem;
      background: $themecolorTow;
      margin-bottom: 3rem;
      &::before {
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        border: 3px solid $themeColor;
        background: #191923;
        border-radius: 50%;
        right: -37px;
        top: 2rem;
      }
      &::after {
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        background: $themecolorTow;
        right: -8px;
        top: 2rem;
        transform: rotate(-45deg);
      }
      .title-post {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        h4 {
          font-size: 1.6rem;
          font-weight: 500;
          color: $textColor;
          margin-bottom: 0;
        }
        p {
          font-size: 1.2rem;
          font-weight: 400;
          color: #646466;
          font-style: italic;
        }
        span.post-date {
          color: #646466;
          font-size: 10px;
          background: $minColor;
          padding: 0.4rem 1.2rem;
          border-radius: 4rem;
          margin-bottom: 1rem;
        }
      }
      p {
        font-size: 1.2rem;
        color: $peraColor;
        line-height: 1.8rem;
        font-weight: 400;
      }
      a {
        @include btnTow($themeColor, 1rem, transparent);
        margin-left: 0;
      }
      &:hover {
        &::before {
          animation: shadowAnim 1s ease infinite;
        }
      }
      @keyframes shadowAnim {
        0% {
          box-shadow: 0 0 1px #fafafc;
        }
        25% {
          box-shadow: 0 0 3px #fafafc;
        }
        50% {
          box-shadow: 0 0 7px #fafafc;
        }
        75% {
          box-shadow: 0 0 3px #fafafc;
        }
        100% {
          box-shadow: 0 0 1px #fafafc;
        }
      }
    }
  }
}

/* -----  contact-information ------*/
.contact-information {
  .section-title {
    margin-bottom: 2rem;
  }
  margin: 2rem 0;
  .information-text {
    background: $themecolorTow;
    padding: 3rem;
    box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
    ul {
      li {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        line-height: 3rem;
        h4 {
          font-size: 1.4rem;
          color: $textColor;
          font-weight: 400;
        }
        span {
          font-size: 1.2rem;
          color: $peraColor;
        }
      }
    }
  }
}

/* -----  contact-area ------*/
.contact-area {
  .contact-form {
    margin-top: 2rem;
    background: $themecolorTow;
    padding: 3rem;
    box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
    .input-filed {
      width: 100%;
      position: relative;
      margin-bottom: 3rem;
      border-bottom: 0.1rem solid rgba(233, 224, 224, 0.068);
      label {
        position: absolute;
        color: $peraColor;
        width: 100%;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: all 0.3s ease;
      }
      input,
      textarea {
        width: 100%;
        height: 3rem;
        border: 0;
        outline: 0;
        background: inherit;
        color: $textColor;
        font-size: 1.4rem;
        &:focus ~ label,
        input:valid ~ label {
          top: -5px !important;
        }
      }
    }
    .form-submit input {
      background: transparent;
      text-transform: uppercase;
      padding: 5px 20px;
      border: 1px solid #ffc107;
      border-radius: 6px;
      color: #fafafc;
      font-weight: 500;
      cursor: pointer;
    }
  }
}

/* -----  tech-area ------*/
.tech-area {
  padding: 3rem 0;
  background: $minColortow;
  .tech-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
  }
  .tach-img {
    text-align: center;
    img {
      max-width: 12rem;
      width: 100%;
      height: auto;
      object-fit: cover;
      opacity: 0.5;
      transition: all 0.3s ease;
      &:hover {
        opacity: 1;
      }
    }
  }
}

/* -----  footer-area ------*/
.footer-area {
  background: $themecolorTow;
  .footer-text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
    min-height: 5rem;
    .copyright p,
    .author p {
      margin-bottom: 0;
      font-size: 1.2rem;
      font-weight: 400;
      color: $peraColor;
      // padding: 2rem 0;
      a {
        color: $peraColor;
        transition: all 0.3s ease;
        &:hover {
          color: $textColor;
        }
      }
    }
  }
}
